body{padding: 0%;
    box-sizing: border-box;
    margin: 0%;
    
}

.a{display: flex;
     width: 100%;
    height: 100vh;
     justify-content: center;
    align-items: center;
background-color:rgb(255, 255, 255)
}
.calculator{
    background-color: rgb(61, 79, 158);
    padding: 20px;
    border-radius: 50px;
   
}

.animasiyaolan{
color: white;
background-color: rgb(248, 170, 1);
}
.animasiyaolmayan{
    background-color: rgb(127, 227, 60);
    color: black;
}
form input{
   background-color: rgb(248, 248, 248);
    width: 70px;
height: 70px;
border-radius: 20%;
border: 0;
color:rgb(0, 0, 0);
font-size: 2rem;
margin: 5px;
}
.sifir{
    width: 150px;
    border-radius: 50px;
}
form .display{
    display: flex;
    justify-content: end;
}
form .display input{
    flex: 1; border-radius: 0%;
    height: 120px;
    text-align: right;
    border: 0;
    background-color: rgb(226, 226, 226);
    font-size: 70px; 
    border-radius: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form .sil{
    display: flex;
justify-content: end;}
form .sil input{
border-top-left-radius: 45%;
border-bottom-left-radius: 45%;
border-top-right-radius:0;
border-bottom-right-radius: 0%;
width: 30px;height: 20px;
margin-left: 150px;margin-right: 10px;
font-size: 1rem;
}
form .elm input{
    border-radius: 0%;
width: 30px;height: 20px;font-size: 1rem;
}

.menu{
    display: flex;
    justify-content: end;
}

@keyframes animasiya{
    from{background-color: aqua;}
    to {background-color: aquamarine;}
    to {background-color: deeppink;}
    to {background-color: darkseagreen;}
    to {background-color: crimson;}
}

.animasiyaolan{
    animation-name: animasiya;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}